.Storage {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 300px;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Grande',
  Verdana, Lucida, Geneva, Helvetica, 
  Arial, sans-serif;
  color: #333;
  text-align: center;
  list-style-type: none;
}

.header li .NavLink {
  width: 100%;
  padding: 5px 5px 5px 0.5em;
  background-color: #2175bc;
  border: 1px solid #000;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
}

.header li .NavLink:hover {
  background-color: #2586d7;
  color: #fff;
  text-decoration: none;
  }
.header li .NavLink:active {
    background-color: #7ab5e6;
    color: #fff;
    text-decoration: none;
    }